header {
  text-align: center;
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem 2rem;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


button {
  transition: box-shadow 0.3s ease;
  font-size: x-large;
  color: #fff;
  background-color: cornflowerblue;
  border-radius: 10%;
  border-color: #fff;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0.2rem rgba(0,0,0,0.5);
}